<div class="wrapper d-grid">
  <div class="content d-grid">
    <section>
      <div class="title d-flex justify-content-between align-items-end">
        <div class="left">
          <h3>Dành cho bạn</h3>
          <p class="desc">Thêm nhiều gợi ý hay hơn khi bạn nghe nhiều hơn</p>
        </div>
        <p><a class="desc">XEM NHIỀU HƠN</a></p>
      </div>

      <div class="catelog d-grid">

        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>


      </div>
    </section>
    <section>
      <div class="title d-flex justify-content-between align-items-end">
        <div class="left">
          <h3>Dành cho bạn</h3>
          <p class="desc">Thêm nhiều gợi ý hay hơn khi bạn nghe nhiều hơn</p>
        </div>
        <p><a class="desc">XEM NHIỀU HƠN</a></p>
      </div>

      <div class="catelog d-grid">

        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>


      </div>
    </section>
    <section>
      <div class="title d-flex justify-content-between align-items-end">
        <div class="left">
          <h3>Dành cho bạn</h3>
          <p class="desc">Thêm nhiều gợi ý hay hơn khi bạn nghe nhiều hơn</p>
        </div>
        <p><a class="desc">XEM NHIỀU HƠN</a></p>
      </div>

      <div class="catelog d-grid">

        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>
        <div class="card cus-card">
          <div class="image">
            <img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5ebc48716f91b7bf3016f5b6fbe/1/vi/default" alt="">
            <div class="btn-play">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="info">
            <p class="name-card">Daily Mix 1</p>
            <p class="desc">Sơn Tùng M-TP, Hoàng Thùy Linh, Binz và nhiều hơn nữa</p>
          </div>
        </div>


      </div>
    </section>

  </div>
</div>
